.leaflet-popup-content-wrapper {
    border-radius: 3px;
    background: #383838;
    color: #f4f4f4;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {
}

.leaflet-popup-tip-container .leaflet-popup-tip {
    background: #383838;
}